[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule ".vim/bundle/buffergator"]
	path = .vim/bundle/buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/trailing-whitespace"]
	path = .vim/bundle/trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule ".vim/bundle/rhubarb"]
	path = .vim/bundle/rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule ".vim/bundle/graphql"]
	path = .vim/bundle/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/bundle/vim-jsx-pretty"]
	path = .vim/bundle/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
